* {
	margin: 0 auto;
}

div {
	outline: 0px dotted red;
}

/*HEADER*/


@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 360px) and (max-width: 768px) {

}

@media screen and (min-width: 320px) and (max-width: 360px) {

}
/*./HEADER*/

/*CONTENT*/

/*./CONTENT*/

/*FOOTER*/
footer {

}

/*./FOOTER*/

/*MISC*/

/*form outline*/
form > input:focus, form > textarea:focus, button:focus {
	outline: none;
	border: 1px solid #632832;
}
/*.*form outline*/

.padding-l0-r0 {
	padding-left: 0px;
	padding-right: 0px;
}

.shadow {
	box-shadow: 0 0 10px rgba(0,0,0,0.4)
}
/*./MISC*/